* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto)
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / 2;

    background-image: ;
    background-size: cover;
    text-transform: uppercase
}

#main-menu {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2 / 3;
}